{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Crear Articulo</h1>
   
    <form action="{% url 'save' %}" method="POST">
     {% csrf_token %}
       <input type="text" name="title" placeholder="Escribe el titulo">
       <input type="text" name="content" placeholder="Escribe el content">
       <select name="public" id="">
           <option value="1">SI</option>
           <option value="0">No</option>
       </select>
       </input>
       <input type="submit" value="Guardar">
       
    </form>
</body>
</html>