{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css'%}" >
</head>
<body>

    <header>
      <div class="header_top">
        <img class="logo" src="{% static 'images/logo.png' %}"/>
        {% block title %}<h1>Web con Django</h1>{% endblock %}
      </div>
      <div class="navbar">
         <ul class="lista">
           <li><a href="blog">Blog</a></li>
           <li><a href="index">Index</a></li>
           <li><a href="top">Top</a></li>
         </ul> 
      </div>


    </header>

    <section class="central">
      <h1>Aprende Django</h1>     

    </section>
    

  
      
</body>
</html>