{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css'%}" >
</head>
<body>

    {% block title%}<h1 center>BIENVENIDO A MIAPP</h1>{%endblock%}
    <ul>
        <li><a href="blog">BLOG</a></li>
        <li><a href="top">Top trending</a></li>
        <li><a href="index">Home</a></li>
    </ul>
   
    
         {% block content%}
            <h1>ESTO ES INICIO</h1>
        {% endblock%} 
    
    
      
</body>
</html>